@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    /*height: 100%;*/

}

.title-cart{
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
}









