@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/**/
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 70px;
    margin-bottom: 10px;
    max-width: 1440px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-list {
    align-items: stretch;
    display: flex;
    background-color: #fff;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Оформление конфигурационных кнопок*/
.nav-list > button {
    width: 104px;
    height: 40px;
    padding: 6px 4px;

    background-color: #ededf0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    text-align: center;
    color: #787885;
    border: dimgray 1px solid;
    border-radius: 4px;
    margin-right: 10px;
}

.nav-list > button:hover {
    border: none;
    background-color: #ebf2ff;
    color: #000;
    transition: 0.4s;
    transform: scale(1.1);
    border-radius: 10px;
}

/*Оформление конфигурационных кнопок*/


.nav-list > a {
    font-size: 20px;
    color: cornsilk;
    padding-top: 10px;
    padding-left: 20px;
}

.nav-list > p {
    margin-left: 30px;

}

nav > h3, nav > h4 {
    margin: 0;
}
.Logout{
    width: 104px;
    height: 40px;
    padding: 6px 4px;
    border-radius: 4px;
    border: solid 1px #9dc2ff;
    text-align: center;
    margin-left: 10px;
}
.Logout:hover{
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(41, 121, 255, 0.2), 0 2px 4px 0 rgba(27, 78, 163, 0.2);
    background-color: #fff;
}
.Logout >a{
    color: #2979ff;
}
.nav-img {
    width: 70px;

}

/*=====Dropdown menu block=====*/
.dropbtn {
    width: 104px;
    height: 40px;
    padding: 6px 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #fff;
    font-weight: 600;
    color: #2979ff;
    border: solid 1px #9dc2ff;
    border-radius: 4px;
    transition: 0.5s;
}
.dropdown:hover .dropbtn {
    background-color: #ebf2ff;
    color: #2979ff;
    border: none;
    transition: 0.5s;
    width: 208px;
}
.nav-link{
   text-decoration: none;
}

.count-products-in-basket {
    color: red;
    font-size: 20px;
}

.dropdown {
    position: relative;
    /*display: inline-block;*/
    /*margin: auto;*/;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    /*min-width: 160px;*/
    /*width: 100%;*/
    /*overflow:auto;*/
    /*width: 87%;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*margin-right: 10px;*/
    margin-left: 10px;
}

.dropdown-content a {
    color: dimgray;
    padding: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    background-color: #ebf2ff;
    color: #2979ff;
}

.dropdown:hover .dropdown-content {
    display: block;
    /*display: grid;*/
    grid-template: 60px auto / 1fr 1fr;
    /*gap: 17px;*/
}



.categories {

    font-weight: bold;
    font-size: 20px;
    display: flex;

}

.subcategories {
    font-weight: normal;
    font-size: 15px;
    display: none;
    border-left: dimgray 1px solid;
}

.categories:hover .subcategories {

    display: block;
}


/*=====Search menu block=====*/

.search-block {
    margin: 0;
}

.search-text {
    color: white;

}

.search-field {
    width: 668px;
    height: 48px;
    margin: 20px 1% 20px 1%;
    padding: 8px;
    border-radius: 99px;
    background-color: #ededf0;
    border: none;
}
.search-field:focus{
    background-color: #c9c8c8;
    border: none;
    outline: none;
}
.search-block{
    margin: 20px 5% 20px 2%;
}


.avatarIcon {
    flex-grow: 0;
    margin: 0 0 0;
    border-radius: 99px;
}

.userIcons {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.shop-cart-button {
    width: 104px;
    height: 40px;
    padding: 6px 4px;
    border-radius: 4px;
    border: solid 1px #9dc2ff;
    margin-left: 2%;
}

/*корзина новые стили*/
.shop-cart-button:hover,
.shop-cart-button.active {
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(41, 121, 255, 0.2), 0 2px 4px 0 rgba(27, 78, 163, 0.2);
    background-color: #fff;
}

.shop-cart {
    position: absolute;
    top: 80px;
    width: 300px;
    border-radius: 4px;
    border: solid 1px #9dc2ff;
    padding: 20px;
    background-color: white;
}

