.main-content-products {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.filter {
    margin-right: 20px;
}

.all-products {
    /*box-sizing: border-box;*/
    /*height: 100%;*/
}

.products {
    /*display: table;*/
    /*column-count: 3;*/
    /*column-gap: 30px;*/
    /*display: flex;*/

    display: grid;
    /*grid-template: auto auto auto / 1fr 1fr 1fr;*/
    /*grid-template: 1fr 1fr 1fr / auto auto auto;*/
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;

}


.card {
    /*width: 100%;*/
    /*max-width: 400px;*/
    padding: 30px;
    background: #fcfcfc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
}

.card hide{
    display: none;
}

.product-img{
    max-width: 80%;
    /*width: 40% ;*/
    /*height: 40%;*/
    margin: auto 40px 40px;
}

.product-name{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.product-price{
    margin: 8px 0 8px ;
    font-weight: 600;
    color: #789395;
    font-size: 1.4em;
}

.product-description{
    color: #383838;
}

.product-button {
    background-color: #ffcf0c;
    font-weight: 600;
    padding: 15px;
    font-size: 15px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.product-button:hover {
    color: #000000;
    transition: 0.4s;
    transform: scale(1.1);
}

.link-button{
    text-decoration: none;
    color: #000000;
}



.justify-content-center li{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    border: #1a1e21;
    padding: 3px;

}

/*.product-card {*/
/*    break-inside: avoid;*/
/*    padding: 5px;*/
/*    border-color: #0c4128;*/
/*}*/

/*.preview {*/
/*    max-width: 50px;*/
/*}*/



/*.masonry-layout__panel {*/
/*    break-inside: avoid;*/
/*    -webkit-column-break-inside: avoid;*/
/*    padding: 5px;*/
/*}*/
/*.masonry-layout__panel-content {*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*}*/