* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /*border: 1px solid black;*/
    /*margin:10px;*/
    font-family: Inter, sanc-serif;
    border-radius: 5px;
}

body {
    /*border: 10px solid black;*/
    /*!*background-color: lightgrey;*!*/
    background-image: linear-gradient(105deg, yellow 39%, grey 96%);
    margin: 20px;
}

.App {

}

.main-content {
    color: yellow;
    height: auto;
    /*padding-top: 10px;*/
}

.productName {
    color: darkslategrey;
    padding: 10px;
}

.main-block {
    /*align-items: stretch;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card {
    margin-right: 50px;
}

.product-img {
    margin-right: 70px;
    width: 250px;
}

.short-descr {
    background-color: dimgrey;
    /*height: border-box;*/
    /*margin-top: 0px;*/
    /*margin-top: -100px;*/
    padding: 5px;
}

.main-characts {
    margin-top: 10px;
}

.img-and-shortdescr {
    /*align-items: stretch;*/
    display: flex;
    /*justify-content: space-between;*/
}

.nav-list {
    align-items: stretch;
    display: flex;
    background-color: grey;
}

.nav-list > p {
    /*padding: 10px;*/
}

.main-content > h1 {
    /*margin: 0;*/
    letter-spacing: -0.05em;
}

/*todo Квадратные маркеры списка и другой цвет. Почему-то перестали отображаться*/
li {
    /*display: list-item;*/
}

/*.main-content > ul {*/
/*    list-style-type: square;*/
/*}*/

/*.main-content > ul > li::marker {*/
/*    color: #61DAFB;*/
/*}*/

.short-descr > h4 {
    margin-right: 40px;
}

.full-descr {
    background-color: dimgrey;
    margin-top: 20px;
    padding: 5px;
}

/*звездный рейтинг*/
.star-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}

.star-rating::before {
    content: "★★★★★";
    display: block;
}

.star-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.star-radio-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.star-label {
    flex: 0 0 20%;
    height: auto;
    cursor: move;
    color: white;
}

.star-label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.star-label:hover,
.star-label:hover ~ .star-label,
.star-label:checked ~ .star-label:hover {
    color: #61DAFB;
}

.star-radio-item:checked,
.star-radio-item:checked ~ .star-label {
    color: deepskyblue;
}

.star-form-btn {
    color: yellow;
    background-color: dimgrey;
}

.money-block {
    display: block;
}

.price {
    background-color: dimgrey;
    min-height: 100px;
    /*margin-top: 100px;*/
    margin-bottom: 20px;
    padding: 5px;
}

.credit {
    background-color: dimgrey;
    padding: 5px;
}