@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    font-family: 'Inter';
}

html {
    /*height: 100%;*/

}

body {

    background-color: #ffffff;
    /*height: 100%;*/
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-right: 15%;
    padding-left: 15%;
}
.header{
    max-width: 1440px;
    margin-left: 150px;
    margin-right: 150px;

}
.all-products>h1{
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.my-select{
    padding: 6px 8px 6px 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    margin-bottom: 10px;
}
.col-md-12>div>img{
    margin: 9px 0 0 15%;
}

.my-select:focus{
    padding: 6px 8px 6px 12px;
    border-radius: 4px;
    border: solid 1px #5a5b6a;
}
.form-group>button{
    width: 88px;
    height: 32px;
    margin: 9px 0 0 30%;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    background-color: #fff;
    color: #000;
}

.form-group>button:hover{
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
}
.form-group>button>a{
    color: #000;
    text-decoration: none;
}
form>.form-group:has(div):has(input){
    margin: 9px 0 0 15%;
}
.form-group>input{
    width: 136px;
    height: 36px;
    margin: 9px 0 0 30%;
    padding: 6px 8px 6px 12px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
}

.single-product {
    box-sizing: border-box;
    color: #ffcf0c;
    height: auto;
    /*padding: 57px 27px;*/
    /*margin-top: 30px;*/
    /*padding-top: 10px;*/
    max-width: 1440px;
    margin-bottom: auto;
}


.productName {
    color: darkslategrey;
}

.main-block {
    margin-top: 30px;
    /*align-items: stretch;*/
    display: flex;
    justify-content: space-between;
}
.single-product>.productName{
    color: black;
}

.product-card {
    margin-right: 50px;
}

.product-img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.short-descr>button {
    width: 88px;
    height: 32px;
    margin: 9px 17px 0 0;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #9dc2ff;
    background-color: #fff;
    color: dimgray;
}
.short-descr>button:hover {
    color: #2979ff;
    background-color: #ebf2ff;
    transition: 0.4s;
    transform: scale(1.1);
}
.full-descr {
    color: black;
    background: #fcfcfc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.main-characts {
    margin-top: 10px;
}
.main-characts>li{
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
    color: dimgray;
}
.full-descr>.list>li{
    margin-top: 10px;
    list-style: none;
    color: dimgray;
}

.img-and-shortdescr {
    display: flex;
    color: black;
    background: #fcfcfc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-left: 10px;
}

.nav-list {
    align-items: stretch;
    display: flex;
    background-color: grey;
}

.nav-list > p {
    /*padding: 10px;*/
}

.main-content > h1 {
    color: black;
    font-size: 40px;
    /*letter-spacing: -0.05em;*/
}

.short-descr > h4 {
    margin: 5px;
    font-size: 18px;
}



/*звездный рейтинг*/
.star-rating {
    position: relative;
    font-size: 40px;
    display: inline-block;
}

.star-rating::before {
    content: "★★★★★";
    display: block;
}

.star-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.star-radio-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.star-label {
    flex: 0 0 20%;
    height: auto;
    cursor: move;
    color: #c9c9c9;
}

.star-label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.star-label:hover,
.star-label:hover ~ .star-label,
.star-label:checked ~ .star-label:hover {
    color: #e8a30d;
}

.star-radio-item:checked,
.star-radio-item:checked ~ .star-label {
    color: #ffcf0c;
}

.star-form-btn {
    color: black;
    background-color: #ffcf0c;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.money-block {
    display: block;
    width: 304px;
    padding: 0 0 8px;
    border-radius: 4px;
    background-color: #f7f7fa;
    margin-right: 10px;
    border: dimgray 1px solid;
}

.price {
    margin-top: 0;
    color: black;
}
.price>button{
    width: 88px;
    height: 32px;
    margin: 9px 0 0 17px;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    background-color: #fff;
    color: #000;
}
.price>h2{
    margin: 9px 0 0 17px;
}

.credit {
    color: black;
}
.credit>button{
    width: 155px;
    height: 32px;
    margin: 9px 0 0 17px;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    background-color: #fff;
    color: #000;
}
.MyButton_myBtn__iTIVh{
    width: 88px;
    height: 32px;
    margin: 9px 0 0 17px;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    background-color: #fff;
    color: #000;
}
.MyInput_myInput__4pWkA{
    width: 90%;
    height: 36px;
    margin: 9px 0 0 17px;
    padding: 6px 8px 6px 12px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
}
.credit>h3{
    margin: 9px 0 0 17px;
}
.credit>form>button{
    width: 155px;
    height: 32px;
    margin: 9px 0 0 17px;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px #b4b4bb;
    background-color: #fff;
    color: #000;
}